.backimage{
    /* background-image: url('https://i.ibb.co/0fhnGnR/4428.jpg'); */
    background-image: url('../../assets/login.png');
    /* height: 600px;
    width: 75%; */
    /* background-size: cover; Use cover to ensure the image covers the full width */
    /* height: 87vh; */
    height:100%;
    width: 100%; /* Set width to 100% */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100% 100%;

}