.navbar.scrolled {
    background-color: #fff; /* Change background color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.navbar.scrolled.fixed {
    position: fixed;
    
    width: 100%;
    z-index: 1000; /* Set a high z-index to ensure it's on top of other elements */
}
/* body {
    padding-top: 60px; 
} */

